<ion-header>
  <ion-toolbar>
    <ion-title>Image Picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onPickImage()"
          >Pick Image</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="image-preview" *ngIf="selectedImage">
          <img [src]="selectedImage" alt="Selected Image" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          color="danger"
          (click)="onRemoveImage()"
          *ngIf="selectedImage"
          >Remove Image</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
